<% if @registrations.any? %>
  <!-- <h3>&nbsp;</h3> -->
  <div class="panel clearfix">
    <h5>Registrations (<%= @registrations.count %>)</h5>
    <ul class="side-nav">
			<table class="table">
			  <tr>
			    <th>Name</th>
			    <th>Start Date</th>
			  </tr>

				<% @registrations.each do |registration| %>
				  <tr>
				    <td><%= link_to registration.name, camp_path(registration) %></td>
				    <td><%= registration.start_date.strftime('%m/%d/%y') %></td>
				  </tr>
				<% end %>
			</table>
    </ul>
  </div>

<% else %>

  <div class="panel clearfix">
    <h5>No Registrations</h5>
  </div>
	
<% end %>
