<div class="row">
  <div class="small-12 columns">
		<div id="notice">
    	<%= render "partials/flash" %>
		</div>
  </div>
</div>

<% if request.original_url.match(/\/$|home$|home?/) && !request.original_url.match(/camp_summary|home\/./) %>
	<div id="main_content">
		<%= yield %>
	</div>
<% else %>
	<div class="row">
	  <div class="small-12 columns" id="main_content">
	    <%= yield %>
	  </div>
	</div>
<% end %>
