<div class="row">
  <div class="small-12 columns">
    <%= render "partials/flash" %>
  </div>
</div>

<% if request.original_url.match(/\/$|home$|home?/) %>
	<div id="main_content">
		<%= yield %>
	</div>
<% else %>
	<div class="row">
	  <div class="small-12 columns" id="main_content">
	    <%= yield %>
	  </div>
	</div>
<% end %>
