<h1>About A&amp;M Chess Camps</h1>
<%= image_tag 'BoysPlaying2.jpg' %>
<p>
	Summer is a time for fun and relaxation, but it can also be a time for learning and adventure. Chess, a sport of the mind, provides both immediate enjoyment and life-long cognitive skills. A&amp;M Chess Camps, taught by Alex and Mark Heimann, is dedicated to providing a safe, fun, and wholesome experience for children in the Pittsburgh area. Please see our wide selection of camps. We hope to see you this summer!
</p>
