<div class="row">
  <div class="small-7 columns">
    <!-- MAIN CONTENT GOES HERE -->
		<h2>Camp Summary</h2><br />
    <%= render partial: "camp_details" %>
		<%= render partial: "camp_location" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
		
  </div>
</div>