<h1>Contact A&amp;M Chess Camps</h1>
<%= image_tag 'Kelsey1.jpg', class: "left", width: 150 %>
<p>
	Please see our registration page if you wish to sign up for a chess camp. You may get in contact with Matthew Nielsen by <%= mail_to("mqn@andrew.cmu.edu", "email", encode: "javascript") %> or by phone at (123) 456-7890.
</p>