<div class="row">
  <div class="small-7 columns">
    <!-- MAIN CONTENT GOES HERE -->
		<h2>User Dashboard</h2><br />
    <%= render partial: "dashboard_instructor" %>
		<%= render partial: "all_upcoming_camps" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
		<%= render partial: "dashboard_my_camps" %>
  </div>
</div>
