<div class="row">
  <div class="small-12 columns" id="welcome">
		Where learning<br />meets fun.
  </div>
</div>
<div id="covercover">
<div id="cover">
	<%= image_tag('cover.jpg') %>
</div>
</div>

<div id="mission">
	<div class="row">
	  <div class="small-12 columns">
			A&amp;M Chess Camps are the finest chess camps in Western Pennsylvania. Our mission is to provide children ages 5 to 18 the opportunity to reach their goals at the chess board. Our instructors are the best in the business and we offer a multitude of curriculums, from basic tactics to endgame scenarios.
	  </div>
	</div>
</div>

<div id="camps">
	
</div>
