<h1>A&amp;M Chess Camps' Privacy Policy</h1>

<p>
	Your privacy is important to use at A&amp;M Chess Camps. Our privacy policy is simple: we will never publish, sell, or otherwise disclose our customers' personal information unless explicit permission has been given. For more information, please speak to our lawyer, Johnnie Cochran.
</p>