<% if @inactive_locations.any? %>

  <h3>&nbsp;</h3>
  <div class="panel clearfix">
    <h5>Inactive Locations</h5>
    <ul class="side-nav">
      <% @inactive_locations.each do |location| %>
        <li><%= link_to location.name, location_path(location) %></li>
      <% end %>
    </ul>
  </div>
	
<% else %>
	
  <h3>&nbsp;</h3>
  <div class="panel clearfix">
    <h5>No Inactive Locations</h5>
  </div>
	
<% end %>